@font-face {
    font-family: Shabnam;
    src: url(Shabnam-FD.ttf);
  }
body{
    direction: rtl;
    font-size: 14px;
    font-family: Shabnam;
    text-align: right;
}
h1,h2,h3{
  font-size: 18px;
}
