<html>
    <head>
        <title>City Codes</title>
    </head>
    <body>
        <div class="col-12">
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=1">تهران</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=13">مشهد</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=6">تبریز</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=11">قم</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=2">اصفهان</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=8">شیراز</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=14">یزد</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=3">ارومیه</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=19">کرمان</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=5">اهواز</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=15">بجنورد</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=18">گرگان</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=17">ساری</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=16">رشت</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=26">اردبیل</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=27">سمنان</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=10">قزوین</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=25">زنجان</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=22">سنندج</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=21">کرمانشاه</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=24">همدان</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=827">بیرجند</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=29">ایلام</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=30">خرم آباد</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=31">شهرکرد</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=32">یاسوج</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=20">بوشهر</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=12">زاهدان</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=7">بندر عباس</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=4">اراک</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=9">کرج</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=342">دزفول</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=991">ساوه</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=578">شاهرود</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=479">بروجرد</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=822">سبزوار</a><br>
            <a class="btn btn-outline-success m-2" role="button" href="/?citycode=968">کیش</a><br>
          </div>
    </body>
</html>