<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
    integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/css/min.css">
  <title>چقدر مونده تا افطار؟</title>
</head>

<body>
  <div class="container-fluid">
    {% if data.status == 'remaining' %}
    <div class="row">
      <div class="col-12">
        <div class="alert alert-success" role="alert">
          <p>شهر : {{data.shahr}}</p>
          <p>اذان مغرب ساعت {{data.maghreb}}</p>
          <p>زمان باقی مانده تا افطار {{data.hour}} ساعت و {{data.minute}} دقیقه .</p>
          <br>
          <a href="/">بازگشت</a>
        </div>
      </div>
    </div>
    {% elif data.status == 'error' %}
    <div class="row">
      <div class="col-12">
        <h1 class="text-center m-5">چقدر مونده تا افطار؟</h1>

      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="alert alert-success " role="alert">
          کد شهر را میتوانید در وبسایت <a href="http://prayer.aviny.com/" target="_blank"
            rel="noopener noreferrer">آوینی</a> پیدا کنید
        </div>
        <form action="/" class="form-inline">
          <label for="serchbox" class="form-check-label">
            کد شهر را وارد کنید
          </label>
          <input type="text" id="serchbox" name="citycode" class="form-control">
          <input type="submit" value="ثبت" class="btn btn-primary">
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=1">تهران</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=13">مشهد</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=6">تبریز</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=11">قم</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=2">اصفهان</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=8">شیراز</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=14">یزد</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=3">ارومیه</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=19">کرمان</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=5">اهواز</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=15">بجنورد</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=18">گرگان</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=17">ساری</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=16">رشت</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=26">اردبیل</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=27">سمنان</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=10">قزوین</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=25">زنجان</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=22">سنندج</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=21">کرمانشاه</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=24">همدان</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=827">بیرجند</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=29">ایلام</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=30">خرم آباد</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=31">شهرکرد</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=32">یاسوج</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=20">بوشهر</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=12">زاهدان</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=7">بندر عباس</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=4">اراک</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=9">کرج</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=342">دزفول</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=991">ساوه</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=578">شاهرود</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=479">بروجرد</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=822">سبزوار</a>
        <a class="btn btn-outline-success m-2" role="button" href="/?citycode=968">کیش</a>
      </div>
    </div>
    

    {% elif data.status == 'eftar' %}
    <div class="row">
      <div class="col-12">
        <div class="alert alert-primary" role="alert">
          <p>شهر : {{data.shahr}}</p>
          <p>به نظر میرسد وقت افطار است</p>
          <br>
          <a href="/">بازگشت</a>
        </div>
      </div>
    </div>
    {% elif data.status == 'cityNotFound' %}
    <div class="row">
      <div class="col-12">
        <div class="alert alert-danger" role="alert">
          <p>شهر پیدا نشد</p>
          <br>
          <a href="/">بازگشت</a>
        </div>
      </div>
    </div>

    {% elif data.status == 'notstarted' %}
    <div class="row">
      <div class="col-12">
        <div class="alert alert-info" role="alert">
          <p>شهر : {{data.shahr}}</p>
          <p>روزه شما هنوز شروع نشده</p>
          <p>اذان صبح: {{data.sobh}}</p>
          <br>
          <a href="/">بازگشت</a>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-12">
        <div class="alert alert-warning" role="alert">
          <p>این برنامه صرفا جهت اطلاع شما نوشته شده است و ممکن است دارای خطا باشد</p>
          <p>لطفا افطارتان را با اتکا به داده های این برنامه باز نکنید :)</p>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <p class="text-center">کدنویس <a href="https://github.com/erfansaberi" target="_blank" rel="noopener noreferrer">Erfan Saberi</a></p>
    <p class="text-center">طراحی با عشق <a href="https://github.com/hosseindelara" target="_blank" rel="noopener noreferrer">Hossein Delara</a></p><hr>
    <p class="text-center">لینک گیت هاب <a href="https://github.com/erfansaberi/eftar" target="_blank" rel="noopener noreferrer">Eftar</a></p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
  </script>
  <script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js"
    integrity="sha384-a9xOd0rz8w0J8zqj1qJic7GPFfyMfoiuDjC9rqXlVOcGO/dmRqzMn34gZYDTel8k" crossorigin="anonymous">
  </script>
  <script src="static/js/index.js"></script>
  <script src="static/js/jquery-3.4.1.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
</body>

</html>
